
@{
    ViewBag.Title = "AdminMissionsArchivées";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Missions archivées</h2>
<div>
    <div class="table-responsive">
        <table class="table table-bordered">
            <tr>
                <th colspan="2">Mission</th>
                <th colspan="3">Employé</th>
            </tr>
            <tr>
                <th scope="col">Code</th>
                <th scope="col">Libellé</th>
                <th scope="col">Matricule</th>
                <th scope="col">Nom</th>
                <th scope="col">Prénom</th>
                <th scope="col">Temps total</th>
            </tr>

            @foreach (var data in ViewBag.listMissionsArchivées)
            {
                <tr>

                    <td>@data.Code</td>
                    <td>@data.Libelle</td>
                    <td>@data.Matricule</td>
                    <td>@data.Nom</td>
                    <td>@data.Prenom</td>
                    <td>@data.TempsTotal</td>

                    <td>
                        <a href="~/Mission/DesarchiverMission/@data.Code" class="btn btn-primary">Désarchiver</a>
                    </td>

                </tr>
            }


        </table>
    </div>

</div>

